@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff
}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: black;
    padding: 3px;
}
.image .profile-img{
   
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit:fit;
    opacity: 0.9;
    border: 3px solid white;

}
.profile-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 370px;
    width: 100%;
    background-color: white;
     box-shadow: 0 5px 10px rgba(11, 11, 11, 0.387);
    border-radius: 24px;
    padding: 25px;
    position: relative;
    }  
    .profile-card::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 35%;
        background-color: gray;
        left: 0;
        top: 0;
        border-radius: 24px;
    }

    .text-data{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .name{
        font-size: 22px;
        font-weight: 500;
    }
    .dept{
        font-size: 15px;
        font-weight: 400;
    }
    .media-btn{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .link{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 8px;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        color: white;
        background-color: black;
        text-decoration: none;
    }
    .btns{
        display: flex;
        align-items: center;
        margin-top: 25px;
    }
    .btn{
        margin: 0 10px;
        border-radius: 24px;
        padding: 8px 24px;
        background-color: rgb(209, 202, 202);
        border: none;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        transition:  all 0.3s ease;
    }
    .btn:hover{
        background-color: grey;
    }
    .analys{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .data{
        margin :25px 10px;
    }
    .data:hover{
       color: gray;
    }